body, html {  
    margin: 0;  
    padding: 0;  
    font-family: Arial, sans-serif;  
}  
  
.navbar {  
    background-color: rgba(0, 0, 0, 0.8); /* 初始背景色 */  
    padding: 10px 0;  
    transition: background-color 0.5s;  
    position: fixed;  
    width: 100%;  
    top: 0;  
    z-index: 1000;  
}  
  
.navbar ul {  
    list-style: none;  
    text-align: center;  
    padding: 0;  
    margin: 0;  
}  
  
.navbar ul li {  
    display: inline;  
    margin: 0 20px;  
}  
  
.navbar ul li a {  
    text-decoration: none;  
    color: white;  
    font-weight: bold;  
}  

.header-image {  
    height: 100vh;  
    background-size: cover;  
    background-position: center;  
}  
  
/* 当页面滚动时，改变导航栏的透明度 */  
.scrolled {  
    background-color: rgba(0, 0, 0, 0.5); /* 更透明的背景色 */  
}  
  
main {  
    padding-top: 70px; /* 留出导航栏的空间 */  
}  
  
section {  
    padding: 20px;  
    text-align: center;  
    min-height: 300px;  
}
.header-image {  
    background-image: url('https://cdn-bio.qrz.com/b/bi4mib/IMG_0354.jpeg?p=94df982a329eacd28e1a9aa42a33be91');  
    background-size: cover; /* 确保背景图片覆盖整个元素 */  
    background-position: center; /* 背景图片居中显示 */  
    height: 300px; /* 或你想要的任何高度 */  
}
